/* 
* @Author: cxg
* @Date:   2017-05-09 14:26:14
* @Last Modified by:   cxg
* @Last Modified time: 2017-11-30 21:04:10
*/  
html, body {
    box-sizing: border-box;
    padding-bottom: 54px;
}
*:before,*:after {
    box-sizing: inherit;
}
#app {
    padding: 0 10px;
}
#foot-nav {
    position: fixed;
    left: 0;
    bottom: 0; 
    z-index: 4;
    width: 100%;
    height: 50px;
    background: #fff; 
}
.foot-nav {
    width: 100%;
    height: 100%;
}
.foot-nav .link {
    float: left;  
    width: 20%; 
    text-align: center;
    color: #fff;
    font-size: 0.6rem;
}
.foot-nav .link a {
    padding-top: 6px;
    display: block;
    width: 100%;
    height: calc(100% - 6px);
    color: #ccc;
}
.nav-text { 
    display: block;
    width: 100%;
    text-align: center;
}
.router-link-active {
    color: #009933 !important;
}  